.wrapper {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.nav_right a {
    font-size: 1.2em;
    display: block;
    width: 150px;
    margin-bottom: 30px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 2px;
    background-color: burlywood;
    color: #1c1b1b;
}

.nav_right a[class='active'] {
    background-color: #dc9843;
    box-shadow: 10px 5px 5px #3d2302;
}