.header {
    min-height: 60px;
    background-color: antiquewhite;
    color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header a {
    font-size: 1.3em;
    text-decoration: none;
    color: ghostwhite;
}